@page
@model MomAndChildren.RazorWebApp.Pages.PaymentPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Status)
        </dt>
        <dd class="col-sm-10">
            @(Model.Payment.Status == 1 ? "IsPaid" : "OnHold")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.PaymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.CreateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.CreateAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.UpdateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.BillingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.BillingAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payment.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payment.Order.OrderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Payment?.PaymentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
